
<!-- shopping-cart-area end -->

<style>
    .quantity-input {
      max-width: 30px;
      max-height: 30px;
    }
  </style>
  
  <div class="breadcrumb-area" style="background-color: black; color: white">
    <div class="container">
      <div class="breadcrumb-content text-center pt-1">
        <ul>
          <li>
            <h3><a href="/">Home</a></h3>
          </li>
          <li>
            <h3 style="color: white">/</h3>
          </li>
          <li>
            <h3 style="color: white">Cart</h3>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- shopping-cart-area start -->
  <!-- shopping-cart-area start -->
  <div class="cart-main-area pt-95 pb-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1 class="cart-heading">Cart</h1>
          <form action="/checkout" method="post">
            <div class="table-content table-responsive">
              <table class="table-striped">
                <thead class="bg-dark">
                  <tr>
                    <th class="text-white">remove</th>
                    <th class="text-white">images</th>
                    <th class="text-white">Product</th>
                    <th class="text-white">Price</th>
                    <th class="text-white">Quantity</th>
                    <th class="text-white">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (cartItems) { %> <% cartItems?.products?.forEach((product,
                  index)=> { %>
                  <tr>
                    <td class="product-remove">
                      <a href="/remove/<%= product.product._id %>"
                        ><i class="pe-7s-close text-bg-danger"></i
                      ></a>
                    </td>
                    <td class="product-thumbnail">
                      <a href="/product/<%= product.product._id %>">
                        <% if (product.product && product.product.images &&
                        product.product.images[0] &&
                        product.product.images[0].thumbnailUrl) { %>
                        <img
                          src="<%= product.product.images[0].thumbnailUrl %>"
                          alt="Thumbnail"
                          class="img-thumbnail"
                        />
                        <% } else { %>
                        <!-- Handle the case where thumbnailUrl is not available -->
                        <img
                          src="placeholder-thumbnail-url.jpg"
                          alt="Placeholder"
                          class="img-thumbnail"
                        />
                        <% } %>
                      </a>
                    </td>
  
                    <td class="product-name">
                      <a href="/product/<%= product.product._id %>">
                        <%= product.product.title %>
                      </a>
                      <% if (product.product.isDeleted) { %>
                      <p class="text-danger">Currently Unavailable</p>
                      <% } else if (product.product.quantity < product.quantity) {
                      %>
                      <p class="text-danger">Out of Stock</p>
                      <% } %>
                    </td>
                    <td class="product-price-cart">
                      <span
                        >₹
                        <span class="amount">
                          <% const
                          productPrice=parseFloat(product.product.salePrice) %>
                          <%= productPrice.toFixed(2) %>
                        </span>
                      </span>
                    </td>
                    <td class="text-center">
                      <div class="btn-group" role="group" aria-label="Quantity">
                        <a
                          href="javascript:void(0);"
                          class="btn btn-danger h-auto minusBtn"
                          data-product-id="<%= product.product._id %>"
                        >
                          <i class="ti ti-minus"></i>
                        </a>
                        <span
                          class="btn btn-light h-auto quantity"
                          id="quantity_<%= product.product._id %>"
                        >
                          <%= product.quantity %>
                        </span>
  
                        <a
                          href="javascript:void(0);"
                          class="btn btn-primary h-auto plusBtn"
                          data-product-id="<%= product.product._id %>"
                          id="plusBtn"
                        >
                          <i class="ti ti-plus"></i>
                        </a>
                      </div>
                    </td>
                    <td
                      class="product-subtotal"
                      id="totalProductPrice_<%= product.product._id %>"
                    >
                      <% if (product.product) { %> <% const
                      productTotal=parseFloat(product.product.salePrice); %> <%
                      const productQuantity=parseInt(product.quantity, 10); %> <%
                      const totalProductPrice=productTotal * productQuantity; %>
                      <%= totalProductPrice.toFixed(2) %> <% } else { %>
                      <!-- Handle the case where product information is not available -->
                      ₹0.00 <% } %>
                    </td>
                  </tr>
                  <% }) %> <% } %>
                </tbody>
              </table>
            </div>
            <% if (cartItems && cartItems.products.length>=0) { %>
  
            <div class="row">
              <div class="col-md-5 ms-auto">
                <div class="cart-page-total">
                  <h2>Cart totals</h2>
                  <ul>
                    <li>
                      Subtotal
                      <span
                        >₹
                        <span id="subtotal">
                          <%= subtotal.toFixed(2) %>
                        </span></span
                      >
                    </li>
  
                    <li class="d-none" id="couponList">
                      Discount <span>₹ <span id="appliedCoupon"></span></span>
                    </li>
                    <li>
                      Total
                      <span
                        >₹
                        <span id="cart-total">
                          <%= total.toFixed(2) %>
                        </span></span
                      >
                    </li>
                  </ul>
                  <% if (cartItems.products.some(product=>
                  product.product.quantity < product.quantity ) ||
                  cartItems.products.some(product=> product.product.isDeleted)) {
                  %>
                  <button
                    class="btn btn-secondary cursor-na btn-dark"
                    type="submit"
                    disabled
                  >
                    Proceed to checkout
                  </button>
                  <% } else { %>
                  <button id="checkoutBtn" class="btn btn-dark">
                    Proceed to checkout
                  </button>
                  <% } %>
                </div>
              </div>
            </div>

            <% } else { %>

            <div class="text-center">
              <p>No Items in the cart</p>
              <a href="/shop" class="btn btn-dark h-auto">Shop Now</a>
            </div>
            <% } %>
            
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- shopping-cart-area end -->
  


  