<div class="breadcrumb-area pt-205 pb-210"
    style="background-image: url(/assets/img/bg/ff.jpg); alt :no image ;background-size : 1600px 500px; ">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2> SHOP</h2>
            <ul>
                <li><a href="/">home</a></li>
                <li>shop grid</li>
            </ul>
        </div>
    </div>
</div>

<div class="shop-page-wrapper shop-page-padding ptb-100">
    <div class="container-fluid">
        <div class="row gy-5">
            <div class="col-lg-3 order-2 order-lg-1">

                <div class="shop-sidebar mr-50">
                    <div class="sidebar-widget mb-50">
                        <h3 class="sidebar-title">Search Products</h3>
                        <div class="sidebar-search">
                            <form action="/shop/search" method="post">
                                <input placeholder="Search Products..." type="text" id="search" name="search">
                                <button><i class="ti-search"></i></button>
                            </form>
                        </div>
                    </div>

                    <div class="sidebar-widget mb-40">
                        <h3 class="sidebar-title">Filter by Price</h3>
                        <div class="price_filter">
                            <div id="slider-range"></div>
                            <div class="price_slider_amount">
                                <div class="label-input">
                                    <label>price : </label>
                                    <input type="text" id="amount" name="price" placeholder="Add Your Price" />
                                </div>
                                <button type="button">Filter</button>
                            </div>
                        </div>
                    </div>
                    <% if (products.length> 0) { %>

                        <div class="sidebar-widget mb-45">
                            <h3 class="sidebar-title">Categories</h3>
                            <div class="sidebar-categories">
                                <ul>
                                    <% if (category.length>0) { %>


                                        <% category.forEach(element=> { %>

                                            <li><a href="/categoryShop?id=<%= element._id %>">
                                                    <%= element.categoryName %>
                                                </a></li>

                                            <% }); %>

                                                <% } else { %>
                                                    <h3>NOOOOO</h3>
                                                    <% } %>

                                </ul>

                            </div>
                        </div>
                        <% } %>
                </div>
            </div>

            <div class="col-lg-9 order-1 order-lg-2">
                <div class="shop-product-wrapper res-xl">
                    <div class="shop-bar-area">
                        <div class="shop-bar pb-60">
                            <div class="shop-found-selector">
                                <div class="shop-found">
                                    <p><span>23</span> Product Found of <span>50</span></p>
                                </div>
                                <div class="shop-selector">
                                    <label>Sort By : </label>
                                    <select name="select">
                                        <option value="">Default</option>
                                        <option value="">A to Z</option>
                                        <option value=""> Z to A</option>
                                        <option value="">In stock</option>
                                    </select>
                                </div>
                            </div>



                        </div>
                        <div class="shop-product-content tab-content">
                            <div id="grid-sidebar3" class="tab-pane fade active show">
                                <div class="row">

                                    <div class="col-md-6 col-xl-4">
                                        <div class="product-wrapper mb-30">
                                            <div class="product-img">

                                                <span>No image available</span>

                                                <span>hot</span>
                                                <div class="product-action">
                                                    <a class="animate-left" title="Wishlist" href="#">
                                                        <i class="pe-7s-like"></i>
                                                    </a>
                                                    <a class="animate-top" title="Add To Cart" href="#">
                                                        <i class="pe-7s-cart"></i>
                                                    </a>
                                                    <a class="animate-right" title="Quick View" data-bs-toggle="modal"
                                                        data-bs-target="#exampleModal" href="#">
                                                        <i class="pe-7s-look"></i>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div id="grid-sidebar3" class="tab-pane fade active show">
                                <div class="row">
                                    <% if (products.length>0) { %>

                                        <% products.forEach(element=> { %>

                                            <div class="col-md-6 col-xl-4">
                                                <div class="product-wrapper mb-30">
                                                    <% if (Array.isArray(element.images) && element.images.length> 0) {
                                                        %>
                                                        <div class="product-img">
                                                            <a href="/viewProduct/<%= element?._id %>">
                                                                <img src="<%= element.images[0].imageUrl %>"
                                                                    alt="ProductUrl">
                                                            </a>
                                                            <% } else { %>
                                                                <span>No image available</span>
                                                                <% } %>
                                                                <div class="product-action">
                                                                    <% if (!user) { %>

                                                                        <a class="animate-left" title="Wishlist"
                                                                            href="/login">
                                                                            <i class="pe-7s-like"></i>
                                                                        </a>

                                                                        <% }else { %>

                                                                            <% if (userWishlist) { %>
                                                                                <a class=" animate-left"
                                                                                    id="wishlist" href=""
                                                                                    onclick="addTowishlist(`<%= element._id %>`)">

                                                                                        <% if (userWishlist.includes(element._id))
                                                                                        { %>
                                                                                        <i class="pe-7s-like"
                                                                                            style="color: red;"></i>
                                                                                        <% } else { %>
                                                                                            <i
                                                                                                class="pe-7s-like"></i>
                                                                                            <% } %>
                                                                                </a>
                                                                                <% } else { %>
                                                                                    <a class=" animate-left"
                                                                                        href="/login"> <i
                                                                                            class="pe-7s-like"></i></a>
                                                                                    <% } %>

                                                                            <%}%>

                                                                                            <% if (!user) { %>
                                                                                                <a class="animate-top"
                                                                                                    title="Add To Cart"
                                                                                                    href="/login">
                                                                                                    <i
                                                                                                        class="pe-7s-cart"></i>
                                                                                                </a>
                                                                                                <% } %>


                                                                                                    <a class="animate-right"
                                                                                                        title="Quick View"
                                                                                                        href="/viewProduct/<%= element?._id %>">
                                                                                                        <i
                                                                                                            class="pe-7s-look"></i>
                                                                                                    </a>



                                                                                                    <div id="fixed-div"
                                                                                                        class="mt-2 fixed-div border rounded-pill p-2"
                                                                                                        style="display: none;">
                                                                                                        <p id="wishlist-message"
                                                                                                            class=" mb-0 text-light text-center">
                                                                                                        </p>
                                                                                                    </div>


                                                                </div>
                                                        </div>
                                                        <div class="product-content">
                                                            <h4><a href="/viewProduct/<%= element?._id %>">
                                                                    <%= element.title %>
                                                                </a></h4>
                                                            <span class="text-decoration-line-through">
                                                                ₹<%= (element.productPrice).toLocaleString() %></span>
                                                            <br>
                                                            <span>₹<%= (element.salePrice).toLocaleString() %></span>
                                                        </div>
                                                </div>
                                            </div>
                                            <% }) %>

                                                <% } else { %>
                                                    <h2>No Products found</h2>
                                                    <% } %>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="pagination-style mt-10 text-center">
                    <ul>
                        <% if (currentPage> 1) { %>
                            <li><a href="?p=<%= parseInt(currentPage) - 1 %>"><i class="ti-angle-left"></i></a></li>
                            <% } else { %>
                                <li class="disabled"><span><i class="ti-angle-left"></i></span></li>
                                <% } %>

                                    <% for (let i=1; i <=totalPages; i++) { %>
                                        <li class="<%= i === currentPage ? 'active' : '' %>">
                                            <a href="?p=<%= i %>">
                                                <%= i %>
                                            </a>
                                        </li>
                                        <% } %>

                                            <% if (currentPage < totalPages) { %>
                                                <li><a href="?p=<%= parseInt(currentPage) + 1 %>">
                                                        <i class="ti-angle-right"></i></a>
                                                </li>
                                                <% } else { %>
                                                    <li class="disabled"><span><i class="ti-angle-right"></i></span>
                                                    </li>
                                                    <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    hr {
        margin-bottom: 20px !important;
        color: grey;
        /* Set the color you want */
        border: 0;
        /* Remove any border (optional) */
        height: 1px;
        /* Set the desired height (1px for a horizontal line) */
        background-color: grey;
        /* Set the background color to match the line color */
        margin: 10px 0;
        /* Adjust margin as needed */
    }
</style>

<script src="/assets/js/shop/wishlist.js"></script>