<div class="breadcrumb-area pt-205 pb-210"
    style="background-image: url(/assets/img/bg/ff.jpg); alt :no image ;background-size : 1600px 500px; ">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2> SHOP</h2>
            <ul>
                <li><a href="/">home</a></li>
                <li>shop grid</li>
            </ul>
        </div>
    </div>
</div>

<!-- <div class="breadcrumb-area" style="background-color: black; color: white;">
    <div class="container">
        <div class="breadcrumb-content text-center pt-1">
            <ul>
                <li>
                    <h3><a href="/">Home</a></h3>
                </li>
                <li>
                    <h3 style="color: white;">/</h3>
                </li>
                <li>
                    <h3 style="color: white;">Shop</h3>
                </li>
            </ul>
        </div>
    </div>
</div> -->

<div class="shop-page-wrapper shop-page-padding ptb-100">
    <div class="container-fluid">
        <div class="row gy-5">
            <div class="col-lg-3 order-2 order-lg-1">

                <div class="shop-sidebar mr-50">
                    <div class="sidebar-widget mb-50">
                        <h3 class="sidebar-title">Search Products</h3>
                        <div class="sidebar-search">
                            <form>
                                <input placeholder="Search Products..." type="text" id="search" name="search">
                                <button><i class="ti-search"></i></button>
                            </form>
                        </div>        
                    </div>

                    <div class="sidebar-widget mb-20">
                        <h3 class="sidebar-title">Filter by Price</h3>
                        <div class="sidebar-categories">
                            <ul>
                                <li><a href="/shop">
                                        Default
                                    </a></li>
                                <li><a href="" id="lowToHigh">
                                        Low to High
                                    </a></li>
                                <li><a href="" id="highToLow">
                                        High to low
                                    </a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="sidebar-widget mb-45">
                        <h3 class="sidebar-title">Categories</h3>
                        <div class="sidebar-categories">
                            <ul>
                                <% if (category.length>0) { %>
                                    <% category.forEach(element=> { %>
                                        <li><a href="/shop?p=<%= currentPage %>&category=<%= element.categoryName %>" <%
                                                if (selectedCategory && selectedCategory.length>0) { %>
                                                class="<%= selectedCategory.includes(element._id) ? 'text-dark' : '' %>"
                                                    <% } %>>
                                                        <%= element.categoryName %>
                                            </a></li>
                                        <% }); %>

                                            <% } else { %>
                                                <h3>NO CATEGORIES</h3>
                                                <% } %>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-9 order-1 order-lg-2">
                <div class="shop-product-wrapper res-xl">
                    <div class="shop-bar-area">
                        <div class="shop-bar pb-60">
                        </div>
                        <div class="shop-product-content tab-content">
                            <div id="grid-sidebar3" class="tab-pane fade active show">
                                <div class="row">

                                    <div class="col-md-6 col-xl-4">
                                        <div class="product-wrapper mb-30">
                                            <div class="product-img">

                                                <span>No image available</span>

                                                <span>hot</span>
                                                <div class="product-action">
                                                    <a class="animate-left" title="Wishlist" href="#">
                                                        <i class="pe-7s-like"></i>
                                                    </a>
                                                    <a class="animate-top" title="Add To Cart" href="#">
                                                        <i class="pe-7s-cart"></i>
                                                    </a>
                                                    <a class="animate-right" title="Quick View" data-bs-toggle="modal"
                                                        data-bs-target="#exampleModal" href="#">
                                                        <i class="pe-7s-look"></i>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div id="grid-sidebar3" class="tab-pane fade active show">
                                <div class="row">
                                    <% if (products.length>0) { %>

                                        <% products.forEach(element=> { %>

                                            <div class="col-md-6 col-xl-4">
                                                <div class="product-wrapper mb-30">
                                                    <% if (Array.isArray(element.images) && element.images.length> 0) {
                                                        %>
                                                        <div class="product-img">
                                                            <a href="/viewProduct/<%= element?._id %>">
                                                                <img src="<%= element.images[0].imageUrl %>"
                                                                    alt="ProductUrl">
                                                            </a>
                                                            <% } else { %>
                                                                <span>No image available</span>
                                                                <% } %>
                                                                    <div class="product-action">
                                                                        <% if (userWishlist) { %>
                                                                            <a class="animate-right" id="wishlist"
                                                                                title="Wishlist"
                                                                                onclick="toggleWishlist(`<%= element._id %>`)">

                                                                                <% if
                                                                                    (userWishlist.includes(element._id))
                                                                                    { %>
                                                                                    <i class="pe-7s-like"
                                                                                        style="color: red;"></i>
                                                                                    <% } else { %>
                                                                                        <i class="pe-7s-like"></i>
                                                                                        <% } %>
                                                                            </a>
                                                                            <% } else { %>
                                                                                <a class="btn-hover list-btn-wishlist"
                                                                                    href="/login"> <i
                                                                                        class="pe-7s-like"></i></a>
                                                                        <% } %>



                                                                                    <% if (!user) { %>
                                                                                        <a class="animate-top"
                                                                                            title="Add To Cart"
                                                                                            href="/login">
                                                                                            <i class="pe-7s-cart"></i>
                                                                                        </a>
                                                                                        <% } %>
                                                                                            <a class="animate-right"
                                                                                                title="Quick View"
                                                                                                href="/viewProduct/<%= element?._id %>">
                                                                                                <i
                                                                                                    class="pe-7s-look"></i>
                                                                                            </a>
                                                                    </div>
                                                        </div>
                                                        <div class="product-content">
                                                            <h4><a href="/viewProduct/<%= element?._id %>">
                                                                    <%= element.title %>
                                                                </a></h4>


                                                            <!-- <span class="text-decoration-line-through">
                                                                <% if (element.productPrice !==element.salePrice) { %>
                                                                    ₹<%= element.productPrice %>
                                                                        <% } %>
                                                            </span> -->


                                                            <span class="text-decoration-line-through">
                                                                ₹<%= (element.productPrice).toLocaleString() %>
                                                            </span>
                                                            <br>

                                                            <span>₹<%= (element.salePrice).toLocaleString() %></span>
                                                            <ul class="list-unstyled">
                                                                <!-- <li class="d-inline-block"><label>Category:</label></li> -->
                                                                <!-- <li class="d-inline-block"> -->
                                                                <!-- <%= element.categoryName.categoryName%> -->
                                                                <!-- </li> -->

                                                            </ul>
                                                        </div>

                                                </div>
                                            </div>
                                            <% }) %>

                                                <% } else { %>
                                                    <h2>No Products found</h2>
                                                    <% } %>





                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="pagination-style mt-10 text-center">
                    <ul>
                        <% if (currentPage> 1) { %>
                            <li><a href="?p=<%= parseInt(currentPage) - 1 %>"><i class="ti-angle-left"></i></a></li>
                            <% } else { %>
                                <li class="disabled"><span><i class="ti-angle-left"></i></span></li>
                                <% } %>

                                    <% for (let i=1; i <=totalPages; i++) { %>
                                        <li class="<%= i === currentPage ? 'active' : '' %>">
                                            <a href="?p=<%= i %>">
                                                <%= i %>
                                            </a>
                                        </li>
                                        <% } %>

                                            <% if (currentPage < totalPages) { %>
                                                <li><a href="?p=<%= parseInt(currentPage) + 1 %>">
                                                        <i class="ti-angle-right"></i></a>
                                                </li>
                                                <% } else { %>
                                                    <li class="disabled"><span><i class="ti-angle-right"></i></span>
                                                    </li>
                                                    <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    hr {
        margin-bottom: 20px !important;
        color: grey;
        /* Set the color you want */
        border: 0;
        /* Remove any border (optional) */
        height: 1px;
        /* Set the desired height (1px for a horizontal line) */
        background-color: grey;
        /* Set the background color to match the line color */
        margin: 10px 0;
        /* Adjust margin as needed */
    }
</style>

<script src="/assets/js/shop/shopping.js"></script>
<!-- <script src="/assets/js/shop/wishlist.js"></script> -->